@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

.background{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    align-items: center;
    background: #A8A094;
}